<div class = 'new-idea-form'>
      <%= form_for [@user,@idea] do |f| %>
        <p><%= f.label :name %></p>
        <p><%= f.text_field :name %></p>

        <p><%= f.submit "Submit Idea", user_idea_path(@user, @idea) %></p>
      <% end %>
</div>
