/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$beige: #EAD2AC;
$blu-gray: #9CAFB7;
$blue: #4281A4;
$coral: #D992A0;
$light-purp: #D8B4E2;

html, body {
  height: 100%;
}

body {
  display: table;
  width: 100%;
  font-size: 14px;
}

.root-left-half-img {
  width: 50%;
  height: 100%
}

.root-left-half {
  background-color: $blu-gray;
  position: absolute;
  left: 0px;
  width: 50%;
  height: 100%;
  z-index: 0;
}

.root-left-half p {
  border-style: double;
  border-width: 5px;
  border-radius: 10px;
  padding: 15px;
}

.root-right-half {
  position: absolute;
  right: 0px;
  width: 50%;
  height: 100%
}

.join-idea {
  font-size: 35px;
  display: flex;
  justify-content: center;
}

.root-register {
  display: flex;
  padding-left: 165px;
}

.root-register {
  border-radius: 5px;
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

.root-register form {

}
