/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'skeleton';

$beige: #EAD2AC;
$blu-gray: #9CAFB7;
$blue: #4281A4;
$coral: #D992A0;
$light-purp: #D8B4E2;

html, body {
  height: 100%;
}

body {
  display: table;
  width: 100%;
  font-size: 14px;
}

.root-left-half-img {
  width: 50%;
  height: 100%
}

.root-left-half {
  background-color: $blu-gray;
  position: absolute;
  left: 0px;
  width: 50%;
  height: 100%;
  z-index: 0;
}

.root-left-half p {
  border-style: double;
  border-width: 5px;
  border-radius: 10px;
  padding: 15px;
}

.root-right-half {
  position: absolute;
  right: 0px;
  width: 50%;
  height: 100%
}

.join-idea {
  font-size: 18px;
  display: flex;
  justify-content: center;
  padding-top: 60px;
}

.root-register {
  display: flex;
  padding-left: 165px;
  font: bold 11px Arial;
  display: table-caption;
}

.root-register form {
  padding: 10px;
  display: grid;
}

.root-register label {
  padding-top: 5px;
  padding-bottom: 3px;
}

.root-login-form {
  display: flex;
  justify-content: center;
  padding-top: 25px;
}

.root-login-form input {
  padding: 10px;
  font-size: 15px;
  display: inline-flex;
  margin: 8px;
}

.login-btn, .get-started-btn {
  background-color: white;
  color: $blue;
  border-radius: 15px;
  border-color: $blue;
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}


.login-btn:hover, .get-started-btn:hover {
  background-color: $light-purp;
}
