@import 'base';

$beige: #EAD2AC;
$blu-gray: #9CAFB7;
$blue: #4281A4;
$coral: #D992A0;
$light-purp: #D8B4E2;

p {
  font: {
    family: $font-default;
  }
}

.navbar-container {
  ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    background-color: $coral;
    font-size: 23px;
    height: 75px;
    padding: 0;
    font-family: $font-default;
  }
}
