<div class="nav_bar">
  <%= link_to "Home", root_path %>
  <%= link_to "Edit Category", edit_category_path(@category) %>
  <%= link_to "Delete Category", category_path(@category), method: :delete %>
</div>
<div class="object-show">
  <%= @category.name %>
</div>
